<%= form_for(task) do |f| %>
  <% if task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>

  <div class="field">
    <%= f.label :estimated_pomodoro %>
    <%= f.number_field :estimated_pomodoro %>
  </div>

  <div class="field">
    <%= f.label :parent_task_id %>
    <%= f.select :parent_task_id, Task.all.pluck(:id, :description), prompt: "-- Select Parent Task --" %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
