<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @task.description %>
</p>

<p>
  <strong>Estimated pomodoro:</strong>
  <%= @task.estimated_pomodoro %>
</p>

<p>
  <strong>Done flg:</strong>
  <%= @task.done_flg %>
</p>

<% if @task.subtask? %>
<p>
  <strong>Parent task:</strong>
  <%= link_to @task.parent_task_description, @task.parent_task %>
</p>
<% end %>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
